---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Main";
---

<BaseLayout pageTitle={pageTitle}>
  <h1>Index</h1>
  <h2 class="text-2xl font-bold mb-4">
    Bienvenido al Centro de Idiomas Esperanto
  </h2>
  <p>
    Fundado en el año 2004, el Centro de Idiomas “Esperanto” se ha dedicado
    durante todo este tiempo a la enseñanza de idiomas extranjeros en un
    ambiente amigable y entretenido. Todos los profesores de nuestro centro son
    nativos. Ha sido capacitado para la enseñanza de cada uno de los idiomas en
    su país de origen. Nos caracterizamos por ofrecer distintos métodos de
    enseñanza, ya probados en su eficiencia y gran amplitud horaria.
  </p>
</BaseLayout>
