---
import Header from "../components/Header.astro";
import Slider from "../components/Slider.astro";
import Test from "../components/Slider.astro";

import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Por rusos";
---

<BaseLayout pageTitle={pageTitle}>
  <Header
    title="Изучайте восемь языков с LeLang"
    imageSrc="/media/mainCover.png"
    imageAlt="Добро пожаловать!"
  >
    Присоединяйтесь к нам для увлекательного путешествия в мир языков! Наши
    профессиональные преподаватели помогут вам освоить восемь разных языков, от
    английского до китайского. Начните свое языковое приключение прямо сейчас!
  </Header>

  <Slider />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore laboriosam
    fugit atque ipsa assumenda aperiam ex odit alias totam? Doloribus,
    asperiores molestias assumenda quibusdam labore voluptas consectetur soluta
    minus non sapiente, eveniet quam id voluptatibus quae quasi facere fugit
    ullam. Dolores accusantium vel tempore tenetur asperiores expedita quaerat
    possimus ut voluptatibus rem illo pariatur aliquid debitis repudiandae
    mollitia labore unde consequuntur ea quidem autem quod, minus in ducimus.
    Error quasi, expedita quos neque explicabo vero tenetur ab quaerat
    praesentium voluptatibus fuga temporibus animi fugit illo facere
    perspiciatis quod officia ipsum voluptatum aut eum at ut corporis? Eum
    eveniet rem cumque obcaecati ab odit deleniti itaque tempora. Debitis
    voluptas maxime necessitatibus quos aut voluptatem numquam deleniti. Debitis
    tenetur dolores, animi optio, ullam laudantium pariatur quos eligendi
    numquam illum ipsum amet error quidem aperiam ut. Ad temporibus blanditiis,
    possimus error velit non consequuntur, excepturi laudantium nemo consectetur
    eum vitae iure perspiciatis vel voluptatem deleniti, culpa corrupti cumque
    dignissimos accusantium? Sed reiciendis earum iure, reprehenderit odit sint.
    Cum, ullam illo nemo recusandae error deleniti cupiditate quos, tempora
    voluptatibus, sit asperiores? Dolores voluptatibus illo doloremque explicabo
    odio libero fuga provident tenetur totam dolorum, odit ullam praesentium eos
    consectetur, perspiciatis blanditiis! Nemo velit ducimus molestiae,
    laudantium doloribus, id mollitia, ratione asperiores nulla nihil animi est.
    Qui tempore voluptates sapiente voluptas totam ratione cupiditate commodi
    consequatur sequi accusantium nisi eaque doloribus eos deleniti ab hic
    voluptate, expedita error! Eum, iusto molestias! Fuga quibusdam totam beatae
    sunt, consequuntur rem consectetur. Explicabo expedita, a asperiores
    exercitationem aliquam omnis atque esse, mollitia ut culpa numquam incidunt
    in. Consequuntur enim eaque sed vitae sapiente, magnam in itaque, officia
    illo fuga ducimus fugiat, beatae eius? Amet beatae eaque corrupti aspernatur
    nostrum pariatur vel maxime assumenda ea cupiditate, illo omnis, dolor
    tempore recusandae odio ipsam deserunt saepe? Doloribus corrupti facere,
    veniam accusamus laborum maiores voluptate ipsam? Nesciunt facere iste ex
    voluptas quo sunt, vel vero, eos quae impedit, alias reprehenderit inventore
    molestiae qui asperiores tempore excepturi fugiat id corrupti nisi veritatis
    voluptatum amet dicta! Dolorem consequuntur et non voluptatem ducimus,
    itaque ratione eligendi amet voluptate? Assumenda numquam quidem provident
    fugit voluptate, obcaecati tenetur cumque dolorem vero dicta pariatur neque
    nemo minus et atque quo ratione a necessitatibus at perferendis. A commodi,
    voluptates enim quae assumenda in voluptas ipsa suscipit, perspiciatis
    necessitatibus, ut repudiandae facere cumque blanditiis natus. Iste quos
    impedit officia consequatur quasi dolorum illo voluptatibus nemo
    repellendus, ea animi, soluta fugiat facere, doloremque minima? Accusantium
    fuga labore exercitationem? Minima beatae eligendi fugiat velit dignissimos
    explicabo mollitia, consequatur obcaecati! Vero eligendi, iure consequatur
    nemo sint nobis laudantium deserunt laboriosam molestias voluptate earum
    fugiat at reprehenderit quod quos reiciendis dolorum doloribus. Quis
    voluptas placeat labore eos deserunt ullam, porro doloribus ipsa. Unde,
    ipsum nesciunt. Maxime fuga illum vel harum nisi aspernatur, tenetur quaerat
    autem eius similique commodi voluptatem suscipit quia rerum corrupti
    deleniti ab nostrum iure dignissimos velit ipsa aperiam sunt corporis.
    Placeat molestiae accusantium delectus saepe, quidem aliquam rem quasi,
    velit expedita non adipisci perferendis id nam nesciunt, alias qui quod.
    Minima minus asperiores voluptas natus reprehenderit animi illo libero in.
    Accusantium rerum tenetur est architecto unde! Repellendus, sapiente
    officiis illo est suscipit voluptates amet quos tempore nemo alias, fugit
    possimus itaque beatae? Inventore, ipsa facilis! Iusto similique voluptas
    mollitia, exercitationem porro non aspernatur corrupti quo sunt quod animi.
    Ipsam, ipsa. Voluptates id delectus at architecto veniam totam quaerat error
    dolorem? Perspiciatis est rem repudiandae maxime blanditiis error cum
    quaerat ipsa amet rerum. Sint hic non sequi quod rerum, dolores
    exercitationem sed cumque aliquam. Atque aliquid est eaque beatae deserunt
    officiis tempore, fugit soluta ratione similique! Doloribus id perferendis
    eveniet! Voluptates quis mollitia maiores quod, cumque alias officiis.
    Eveniet, sunt ratione. Nisi magnam veritatis eos maxime laboriosam nemo
    natus ab ex impedit autem repellat officiis ipsum ipsa quas nostrum
    exercitationem, velit at eum voluptas deserunt. Nulla, modi? Enim ipsam
    mollitia eum aut omnis eius nesciunt ad inventore debitis sequi nulla,
    placeat temporibus dicta quae totam dolore nobis! Expedita nihil perferendis
    asperiores soluta laudantium incidunt molestias nisi, odio impedit maiores.
    Mollitia rerum quod eos ducimus expedita unde obcaecati blanditiis
    quibusdam. Excepturi cupiditate voluptatibus, vero tenetur eveniet provident
    maxime voluptate eum ipsa. Sint unde iste fugiat facilis itaque minus totam
    exercitationem dolorem labore. Nobis possimus similique laudantium omnis,
    adipisci iusto consequatur est pariatur asperiores vero iste, ullam id
    explicabo iure et obcaecati sunt quam voluptatibus. Voluptatem architecto
    velit, recusandae itaque possimus atque laborum! Aliquam veniam numquam hic!
    Quia delectus culpa ea placeat error molestias quaerat, incidunt facere
    expedita assumenda tempora debitis explicabo dicta ratione maxime nesciunt.
    Quae earum dignissimos illum accusamus, sint perferendis, totam, ducimus cum
    nam reiciendis hic? Recusandae quo ullam possimus numquam modi, quos ratione
    sit illum, itaque quia enim. Quasi beatae id culpa nobis aperiam sed libero
    quisquam laborum harum debitis distinctio, ut eaque at laboriosam, minima
    soluta omnis delectus fuga. Totam nam consequuntur laborum cupiditate,
    blanditiis ea pariatur, sapiente libero debitis commodi neque facere
    temporibus impedit eius repudiandae quo nobis eveniet veniam voluptas fuga
    fugit dolor doloribus inventore. Quod magni expedita adipisci ipsa quaerat
    vero nobis eum perspiciatis, repellendus necessitatibus voluptas nam
    debitis, aperiam minima ratione minus repudiandae sequi itaque repellat
    ipsam! Perspiciatis odit dolor, labore quia non repellat voluptatum debitis
    perferendis fugiat quo unde corporis eum neque molestiae tempora laudantium
    quas enim eligendi eveniet aliquam voluptas ut itaque. Aliquid distinctio
    hic quam culpa asperiores, omnis autem modi deserunt repellat. Ipsam alias
    expedita ullam dolor omnis quis illo. Itaque, facere id. Eaque atque
    incidunt vero in quas error dolorum et eligendi! Totam voluptates harum sit
    autem quaerat sunt maiores dolorem quae at, soluta distinctio omnis corrupti
    facilis inventore nisi tempore. Maxime, distinctio minima. Quod molestias
    qui tenetur, architecto maiores tempore molestiae enim minus optio
    consequatur nostrum quidem repellendus dignissimos aliquam beatae temporibus
    eaque. Animi illum neque ad amet nam quos alias magni aliquid quia, velit
    itaque sequi! Esse cupiditate mollitia nihil facere obcaecati facilis quos
    vitae suscipit porro aliquid quibusdam dolores voluptatum iusto distinctio
    veniam, corporis aliquam! Deleniti sint ipsum pariatur! Aperiam praesentium
    quidem possimus repellendus maiores rerum vel ipsa.
  </p>
</BaseLayout>
