---

---

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="mt-10">
    <dl
      class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10"
    >
      <slot />
    </dl>
  </div>
</div>
