<script src="/swiper-bundle.min.js" is:inline></script>
<link rel="stylesheet" href="/swiper-bundle.min.css" />

<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">
      <img src="https://picsum.photos/800/400" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://picsum.photos/810/400" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://picsum.photos/800/400" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://picsum.photos/810/400" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://picsum.photos/800/400" alt="" />
    </div>
    <div class="swiper-slide">
      <img src="https://picsum.photos/810/400" alt="" />
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
<div class="flex min-w-0 flex-col">
  <!-- Slider main container -->
  <div class="flex bb">
    <div class="swiper-prev">----------------------------------</div>
    <div class="swiper-next">++++++++++++++++++++++++++++++++++</div>
  </div>
</div>

<script is:inline>
  new Swiper(".swiper", {
    // Optional parameters
    loop: true,
    spaceBetween: 2,
    grabCursor: true,
    slidesPerView: 3,
    autoplay: {
      delay: 3000,
    },
    effect: "coverflow",
    coverflowEffect: {
      rotate: 30,
      slideShadows: false,
    },
    keyboard: {
      enabled: true,
      onlyInViewport: true,
      pageUnDown: true,
    },
    mousewheel: {
      sensitivity: 1,
    },
    // If we need pagination
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      dynamicBullets: true,
    },

    // Navigation arrows
    navigation: {
      nextEl: ".swiper-next",
      prevEl: ".swiper-prev",
    },

    // And if we need scrollbar
    scrollbar: {
      el: ".swiper-scrollbar",
    },
  });
</script>
<style>
  .swiper {
    width: auto;
    height: 300px;
  }
</style>
