---
import Features from '../components/Features.astro'
import FeaturesItem from '../components/FeaturesItem.astro'
---

<div class="bg-white py-12">
  <Features>
    <FeaturesItem title="Cursos a Distancia" icon="/icons/online.svg">
      Aprende desde la comodidad de tu hogar con nuestras clases online
      interactivas.
    </FeaturesItem>

    <FeaturesItem
      title="Apuntes de Clase y Soporte Tutorial"
      icon="/icons/materials.svg"
    >
      Recibe material de estudio complementario y acceso a nuestro equipo de
      tutores.
    </FeaturesItem>

    <FeaturesItem title="Docentes Nativos" icon="/icons/native.svg">
      Aprende con profesores nativos que te guiarán en el camino hacia la
      fluidez.
    </FeaturesItem>

    <FeaturesItem
      title="Ambiente Amigable y Entretenido"
      icon="/icons/relax.svg"
    >
      Disfruta de un ambiente de aprendizaje relajado y divertido que te
      motivará a seguir aprendiendo.
    </FeaturesItem>
  </Features>
</div>
